.main-container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.primary-btn {
  border-radius: 50px;
  background: $gradient;
  background-size: 400%;
  padding: 0.7rem 1.6rem;
  color: $text-light;
  cursor: pointer;
  font-family: Nunito;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: background 0.8s ease, box-shadow 0.6s ease;
  box-sizing: border-box;
}

.primary-btn:hover {
  background-position: right;
  box-shadow: 0px 0px 8px 2px #6a71f5;
}

.grid-container {
  width: 100%;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
}

.section-padding {
  padding: 10rem 0;
}

.section-title {
  margin-bottom: 5rem;
  text-align: center;
}

.section-title h2 {
  font-size: 2rem;
  color: $text-light;
  font-weight: 700;
  margin-bottom: 0.6rem;
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title p {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $text-light-gray;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.project-subtitle {
  margin-bottom: 3rem;
}

.project-subtitle h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
  color: $bg-main;
  margin-bottom: 1.6rem;
}

.page-title {
  text-transform: capitalize;
  margin-bottom: 2.5rem;
}

.page-title h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-title p {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Roboto;
  color: $text-light-gray;
}

.overlay {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 788;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: rgba(27, 27, 27, 0.521);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(1px);
}

.overlay.hidden {
  display: none;
}

// MEDIA QUERIES

@media (max-width: 730px) {
  .project-subtitle {
    text-align: center;
  }
}

@media (max-width: 680px) {
  .section-title p {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .main-container {
    padding: 0 1.8rem;
  }
}
