.about {
  background-color: $bg-main;

  &__flex {
    width: 94%;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__left p {
    font-size: 1.8rem;
    color: $text-light;
    font-weight: 600;
  }

  &__right p {
    font-weight: 300;
    font-size: 1.6rem;
    color: $text-light-gray;
    line-height: 1.6;
  }

  &__right p:first-child {
    margin-bottom: 1.6rem;
  }

  &__members {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: $text-light;
    font-weight: 400;
  }

  &__members h3 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 3rem;
    background: $gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__members-container {
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
  }

  &__card {
    border-radius: $border-radius-8;
    background-color: $card-bg;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    & .card__header::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 30%;
      background: $gradient;
      top: 0;
      right: 0;
      left: 0;
      border-top-left-radius: $border-radius-8;
      border-top-right-radius: $border-radius-8;
      z-index: 1;
      opacity: 0.7;
    }

    & .card__header img {
      width: 8.4rem;
      height: 8.4rem;
      padding: 5px;
      border-radius: 50%;
      margin-bottom: 1.6rem;
      position: relative;
      z-index: 3;
    }

    & .card__body {
      color: $text-light;
    }

    & .card__body h4 {
      text-transform: capitalize;
      font-size: 1.4rem;
      margin-bottom: 0.4rem;
    }

    & .card__body p {
      text-transform: capitalize;
      font-size: 1.2rem;
      color: $text-light-gray;
    }

    & .card__body p > span {
      text-transform: uppercase;
    }

    & .card__footer {
      margin-top: 2rem;
      border-radius: $border-radius-5;
      width: 100%;
      position: relative;
    }

    & .card__footer span {
      font-size: 1.1rem;
      font-weight: 00;
      display: block;
      text-transform: capitalize;
      color: $text-light-gray;
      padding: 0.4rem 1rem;
      z-index: 4;
      position: relative;
      opacity: 0.8;
    }
  }

  // MEDIA QUERIES

  @media (max-width: 1000px) {
    &__members .members-container {
      grid-template-columns: repeat(2, 0.4fr);
    }
  }

  @media (max-width: 780px) {
    &__flex {
      grid-template-columns: 1fr;
    }

    &__left img {
      width: 100%;
      height: 100%;
    }

    &__right p {
      text-align: center;
    }

    &__flex {
      gap: 2rem;
      text-align: center;
      width: 100%;
    }
  }

  @media (max-width: 680px) {
    &__members .members-container {
      grid-template-columns: repeat(2, 0.6fr);
    }
  }

  @media (max-width: 560px) {
    &__members .members-container {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 516px) {
    &__card {
      width: 60%;
    }
  }
}
